# Node.js dependencies
node_modules/

# LIMS Specific Folders (Dilarang masuk GitHub)
public/results/
backups/

# API Credentials & Secrets
config/google-credentials.json
google-credentials.json
*.json.secret

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log
logs/

# Build artifacts
dist/
build/
coverage/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Other temporary files
npm-debug.log*
yarn-debug.log*
/generated/prisma
